<div>

    <mat-tab-group [formGroup]="config">
        <mat-tab label="General">
            <div>
                <mat-form-field class="full">
                    <mat-label>Analysed package</mat-label>
                    <input matInput formControlName="analysedPackage" />
                </mat-form-field>
            </div>
            <div class="wrapper">
                <mat-list>
                    <mat-list-item *ngFor="let function of functions.controls; index as i" [formGroup]="function"
                        class="full">
                        <mat-form-field class="half">
                            <mat-label>namespace</mat-label>
                            <input matInput formControlName="namespace" />
                        </mat-form-field>
                        <mat-form-field class="half">
                            <mat-label>registered class</mat-label>
                            <input matInput formControlName="registerClass" />
                        </mat-form-field>
                        <button mat-icon-button color="warn" (click)="removeFunction(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-list-item>
                </mat-list>
                <button mat-mini-fab color="primary" (click)="addFunction()"
                    matTooltip="register a new class as a function provider" matTooltipPosition="left">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </mat-tab>
        <mat-tab label="Classes">
            <div>
                <div *ngFor="let clazz of classes.controls; index as i" [formGroup]="clazz" class="wrapper">
                    <mat-form-field style="width: 60%;">
                        <mat-label>class name</mat-label>
                        <input matInput formControlName="className" />
                    </mat-form-field>
                    <mat-form-field style="width: 35%;">
                        <mat-label>context</mat-label>
                        <input matInput formControlName="context" />
                    </mat-form-field>
                    <button mat-mini-fab color="warn" (click)="removeClass(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <mat-tab-group>
                        <mat-tab label="Collects">
                            <mat-list>
                                <mat-list-item *ngFor="let collect of clazz.get('collectList').controls; index as j"
                                    [formGroup]="collect">
                                    <mat-form-field class="fourth">
                                        <mat-label>class field</mat-label>
                                        <input matInput formControlName="field" />
                                    </mat-form-field>
                                    <mat-form-field class="fourth">
                                        <mat-label>what to collect</mat-label>
                                        <input matInput formControlName="what" />
                                    </mat-form-field>
                                    <mat-form-field class="fourth">
                                        <mat-label>aggregator name</mat-label>
                                        <input matInput formControlName="to" />
                                    </mat-form-field>
                                    <mat-form-field class="fourth">
                                        <mat-label>condition to collect</mat-label>
                                        <input matInput formControlName="when" />
                                    </mat-form-field>
                                    <button mat-icon-button color="warn" (click)="clazz.get('collectList').removeAt(j)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </mat-list-item>
                            </mat-list>
                            <button mat-icon-button color="primary" (click)="clazz.get('collectList').addNew()"
                                matTooltip="configure another collect for class" matTooltipPosition="right">
                                <mat-icon>add</mat-icon>
                            </button>
                        </mat-tab>
                        <mat-tab label="Executes">
                            <mat-list>
                                <mat-list-item *ngFor="let execute of clazz.get('executeList').controls; index as j"
                                    [formGroup]="execute" class="full">
                                    <mat-form-field class="third">
                                        <mat-label>field to store execution result</mat-label>
                                        <input matInput formControlName="field" />
                                    </mat-form-field>
                                    <mat-form-field class="third">
                                        <mat-label>expression to execute</mat-label>
                                        <input matInput formControlName="jexl" />
                                    </mat-form-field>
                                    <mat-form-field class="third">
                                        <mat-label>condition to execute</mat-label>
                                        <input matInput formControlName="when" />
                                    </mat-form-field>
                                    <button mat-icon-button color="warn" (click)="clazz.get('executeList').removeAt(j)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </mat-list-item>
                            </mat-list>
                            <button mat-icon-button color="primary" (click)="clazz.get('executeList').addNew()"
                                matTooltip="configure another execute for class" matTooltipPosition="right">
                                <mat-icon>add</mat-icon>
                            </button>
                        </mat-tab>
                        <mat-tab label="Variables">
                            <mat-list>
                                <mat-list-item *ngFor="let aVariable of clazz.get('variableList').controls; index as j"
                                    [formGroup]="aVariable" class="full">
                                    <mat-form-field class="half">
                                        <mat-label>variable name</mat-label>
                                        <input matInput formControlName="variable" />
                                    </mat-form-field>
                                    <mat-form-field class="half">
                                        <mat-label>expression to store in variable</mat-label>
                                        <input matInput formControlName="field" />
                                    </mat-form-field>
                                    <button mat-icon-button color="warn"
                                        (click)="clazz.get('variableList').removeAt(j)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </mat-list-item>
                            </mat-list>
                            <button mat-icon-button color="primary" (click)="clazz.get('variableList').addNew()"
                                matTooltip="configure another variable for class" matTooltipPosition="right">
                                <mat-icon>add</mat-icon>
                            </button>
                        </mat-tab>
                    </mat-tab-group>
                </div>
                <button mat-mini-fab color="primary" (click)="addClass()" matTooltip="configure another class"
                    matTooltipPosition="right">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>