<div [formGroup]="control" width="100%">
    <div>
        <mat-card>
            <mat-card-content>
                <mat-form-field style="width: 250px;" matTooltip="id: {{control.get('id').value}}"
                    matTooltipPosition="right">
                    <mat-label>project name</mat-label>
                    <input matInput formControlName="name" />
                </mat-form-field>
                <app-a4j-autocomplete [values]="jars" (valueChanged)="jarNameChanged($event)"
                    [control]="control.get('jarName')"  placeholder="jar file"></app-a4j-autocomplete>
                <mat-slide-toggle class="topright" color="primary" [checked]="debug" (change)="debugMode($event)">
                    debug
                </mat-slide-toggle>
            </mat-card-content>
        </mat-card>
    </div>
    <mat-tab-group>
        <mat-tab label="Configure">
            <mat-card>
                <mat-card-content>
                    <app-a4j-config-editor [jarName]="jarName" [config]="control.get('configuration')"></app-a4j-config-editor>
                </mat-card-content>
            </mat-card>
        </mat-tab>
        <mat-tab label="Test">
            <mat-card>
                <mat-card-content>
                    <mat-form-field>
                        <input matInput #expression (keyup.enter)="evaluate(expression.value)"
                        placeholder="evaluate an expression" matTooltip="not a clue? try some of the following : aggregators(),
                        sum('aggregatorName'), avg('ag'), count('ag'), asArray('ag'), asSet('ag')"
                        matTooltipPosition="right"/>
                    </mat-form-field>
                    <p *ngIf="evaluated!==undefined">{{evaluated | json }}</p>
                </mat-card-content>
            </mat-card>
            <mat-card class="json">
                <mat-card-content>
                    <app-a4j-autocomplete [values]="classes" placeholder="select main model class"
                        [control]="control.get('className')" style="width:450px"></app-a4j-autocomplete>
                    <br/>
                        <app-json-input [json]="control.get('jsonPayload')"></app-json-input>
                    <div class="topright" >
                        <button title="Reset model" mat-button (click)="reset()">Reset</button>
                        <button color="primary" mat-raised-button title="evaluate the json payload with configured rules" (click)="evaluate()">Evaluate</button>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card *ngIf="debug" class="json">
                <mat-card-content>
                    <mat-form-field >
                        <input matInput style="display: none"/>
                    </mat-form-field>
                    <app-json-input [json]="trace" placeholder="execution trace" disabled="true"></app-json-input>
                </mat-card-content>
            </mat-card>
        </mat-tab>
    </mat-tab-group>
</div>

<span style="color: red">
    {{error}}
</span>
