<div [formGroup]="control" width="100%">
    <div>
        <mat-card>
            <mat-card-content>
                <mat-form-field style="width: 250px;" matTooltip="id: {{control.get('id').value}}"
                    matTooltipPosition="right">
                    <mat-label>project name</mat-label>
                    <input matInput formControlName="name" />
                </mat-form-field>
                <autocomplete [values]="jars" (valueChanged)="jarNameChanged($event)"
                    [control]="control.get('jarName')"></autocomplete>
                <mat-slide-toggle class="topright" color="primary" [checked]="debug" (change)="debugMode($event)">
                    debug
                </mat-slide-toggle>
            </mat-card-content>
        </mat-card>
    </div>
    <mat-tab-group>
        <mat-tab label="Configure">
            <mat-card>
                <mat-card-content>
                    <a4j-config-editor [jarName]="jarName" [config]="control.get('configuration')"></a4j-config-editor>
                </mat-card-content>
            </mat-card>
        </mat-tab>
        <mat-tab label="Test">
            <mat-card>
                <mat-card-content>
                    <autocomplete [values]="classes" placeholder="select main model class"
                        [control]="control.get('className')"></autocomplete>
                    <button mat-raised-button title="evaluate" (click)="evaluate()">Evaluate</button>
                    <br />
                    <json-input [json]="control.get('jsonPayload')"></json-input>
                    <json-input [json]="trace" placeholder="execution trace"
                        style="position: absolute;top: 1px;right: 1px;"></json-input>
                </mat-card-content>
            </mat-card>
        </mat-tab>
    </mat-tab-group>
</div>

<span style="color: red">
    {{error}}
</span>
<div *ngIf="debug">
    {{control.value | json }}
</div>