<div class="wrapper">

    <div class="wrapper-title">
      <h2>
        <span>List of Projects </span>

        <button mat-raised-button title="create a new project" (click)="newProject()">
          <mat-icon>add</mat-icon>
        </button>
      </h2>
    </div>
    <div class="wrapper-body">
  
      <mat-list>
        <mat-list-item *ngFor="let p of projects; let i=index;">
          <mat-icon mat-list-icon>folder</mat-icon>
          <span mat-line>{{i+1}} {{p.name}}
          </span>
          <button mat-raised-button title="edit {{p.name}}" (click)="edit(p)" matTooltip="edit {{p.name}}"
            matTooltipPosition="left">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-raised-button title="delete {{p.name}}" (click)="delete(p)" matTooltip="delete {{p.name}}"
            matTooltipPosition="left">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
  <div class="wrapper">

    <div class="wrapper-title">
      <h2>Import a project</h2>
    </div>
    <div class="wrapper-body" DragDrop (onFileDropped)="selectFile($event)">
      <input #projectInput hidden="true" type="file" onclick="this.value=null"
        (change)="selectFile($event.target.files)" accept=".jar" />
      <button mat-flat-button color="primary" (click)="projectInput.click()">Import configuration as project</button>
      <button mat-raised-button [disabled]="!selectedFiles" (click)="upload()" matTooltip="upload {{projectInput.value}}"
        matTooltipPosition="right">
        <mat-icon>attachment</mat-icon>
      </button>
    </div>
  </div>